@{
    ViewData["Title"] = "";
}
<div style="text-align:center; margin-bottom:300px;margin-top:100px;">
    <h2 style="    color: white;">Contact Success!</h2>

    <p style="    color: white;">Thank you for contacting us. We will get in touch with you shortly.</p>
    <a style="   text-decoration:none; width: 100px;
    background:#bf2525 ;
     color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;" asp-controller="SanPham" asp-action="TrangChu">Quay lại Trang Chủ</a>
</div>
